.rooms {
  /* background-color: #f9fafb; */
  display: grid;
  gap: 60px;
}
.header {
  display: grid;
  justify-items: center;
  padding: 20px 0;
  background: inherit;
  color: inherit;
}

.header h2 {
  font: bold 36px "Roboto", sans-serif;
}

.header p {
  font: medium 18px "Roboto", sans-serif;
  width: 35%;
  text-align: center;
}

.room_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 20px;
  justify-content: center;
}

.room {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 30px;
}

.room img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 350px;
  object-fit: cover;
}

.room_content {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.room_content_header {
  display: flex;
  justify-content: space-between;
}

.room_content_head h2 {
  font: bold 20px "Roboto", sans-serif;
}

.room_content_head p {
  font: medium 16px "Roboto", sans-serif;
}

.status {
  font: 400 14px "Roboto", sans-serif;
  color: #166534;
  border-radius: 10px;
  padding: 5px;
  background: #dcfce7;
  margin: 0;
  height: 25px;
}

.details,
.extra {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.detail,
.extra_details {
  display: flex;
  gap: 5px;
  align-items: center;
}

.detail img,
.extra_details img {
  width: 15px;
  height: 15px;
}

.extra_details {
  background-color: whitesmoke;
  color: #000000;
  padding: 5px;
  border-radius: 10px;
}

.room_content button {
  padding: 12px 32px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font: medium 16px "Roboto", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.room_content button:hover {
  background-color: #38528a;
}

.compare {
  margin: 20px;
  padding: 20px;
  background-color: whitesmoke;
  color: #000000;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.compare table {
  width: 100%;
  border-spacing: 0;
}

.compare thead,
.compare td {
  padding: 20px;
  border-bottom: 1px solid #c8c8c8;
}

@media (max-width: 575px) {
  .rooms {
    gap: 20px;
  }
  .header {
    padding: 20px;
  }

  .header h2 {
    font-size: 18px;
  }

  .header p {
    width: 80%;
    font-size: 12px;
  }

  .room {
    width: 100%;
  }

  .room img {
    width: 100%;
    height: 150px;
  }
  .room_content {
    display: grid;
    gap: 10px;
    padding: 20px;
  }

  .room_content_head h2 {
    font-size: 15px;
  }

  .room_content_head p {
    font-size: 10px;
  }

  .status {
    font-size: 10px;
  }

  .detail img,
  .extra_details img {
    width: 10px;
    height: 10px;
  }

  .detail,
  .extra_details {
    font-size: 10px;
  }

  .extra_details {
    width: 40%;
  }

  .compare {
    padding: 10px;
  }

  .compare h2 {
    font-size: 18px;
  }

  .compare table {
    font-size: 8px;
  }

  .compare thead,
  .compare td {
    padding: 6px;
  }
}

/* Medium Devices (Small Laptops) */
@media (min-width: 768px) and (max-width: 991px) {
  .rooms {
    gap: 20px;
  }
  .header {
    padding: 20px;
  }

  .header h2 {
    font-size: 18px;
  }

  .header p {
    width: 80%;
    font-size: 12px;
  }

  .room_container {
    margin: 0;
  }

  .room {
    width: 45%;
  }

  .room img {
    width: 100%;
    height: 200px;
  }
  .room_content {
    display: grid;
    gap: 10px;
    padding: 20px;
  }

  .room_content_head h2 {
    font-size: 20px;
  }

  .room_content_head p {
    font-size: 13px;
  }

  .status {
    font-size: 15px;
  }

  .detail img,
  .extra_details img {
    width: 10px;
    height: 10px;
  }

  .detail,
  .extra_details {
    font-size: 13px;
  }

  .extra_details {
    width: 30%;
  }
}

/* Large Devices (Laptops, Desktops and Monitors) */
@media (min-width: 992px) and (max-width: 1199px) {
  .rooms {
    gap: 20px;
  }
  .header {
    padding: 40px 0;
  }

  .header h2 {
    font-size: 26px;
  }

  .header p {
    width: 60%;
    font-size: 16px;
  }

  .room_container {
    margin: 0;
  }

  .room {
    width: 45%;
  }

  .room img {
    width: 100%;
    height: 200px;
  }
  .room_content {
    display: grid;
    gap: 10px;
    padding: 20px;
  }

  .room_content_head h2 {
    font-size: 20px;
  }

  .room_content_head p {
    font-size: 13px;
  }

  .status {
    font-size: 15px;
  }

  .detail img,
  .extra_details img {
    width: 10px;
    height: 10px;
  }

  .detail,
  .extra_details {
    font-size: 13px;
  }

  .extra_details {
    width: 30%;
  }
}
