.featured_room {
	display: grid;
	align-items: center;
	justify-items: center;
	padding: 80px 0;
}

.featured_room h2 {
	font: 600 36px "Cinzel", sans-serif;
	margin-bottom: 30px;
}

.room_container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 20px;
	justify-content: center;
}

.room {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	width: 30%;
}

.room img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.room_content {
	display: grid;
	gap: 20px;
	padding: 20px;
}

.room_content h3 {
	font: bold 24px "Cinzel", sans-serif;
}

.room_content p {
	font: normal 16px "Nunito", sans-serif;
}

.more {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more p {
	font: bold 20px "Nunito", serif;
}

.more button {
	padding: 8px 24px;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 5px;
	font: medium 16px "Nunito", serif;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.more button:hover {
	background-color: #38528a;
}

@media (max-width: 575px) {
	.featured_room {
		padding: 30px 0;
	}
	.featured_room h2 {
		font-size: 20px;
		margin-bottom: 30px;
	}

	.room {
		width: 100%;
	}

	.room img {
		height: 120px;
	}

	.room_content h3 {
		font-size: 14px;
	}

	.room_content p {
		font-size: 10px;
	}

	.more p {
		font-size: 12px;
	}

	.more button {
		font-size: 10px;
		padding: 8px 12px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.featured_room {
		padding: 40px 0;
	}
	.featured_room h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.room {
		width: 45%;
	}

	.room img {
		height: 150px;
	}

	.room_content h3 {
		font-size: 20px;
	}

	.room_content p {
		font-size: 12px;
	}

	.more p {
		font-size: 14px;
	}

	.more button {
		font-size: 14px;
		padding: 8px 18px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.featured_room {
		padding: 40px 0;
	}
	.featured_room h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.room {
		width: 30%;
	}

	.room img {
		height: 200px;
	}

	.room_content h3 {
		font-size: 20px;
	}

	.room_content p {
		font-size: 12px;
	}

	.more p {
		font-size: 14px;
	}

	.more button {
		font-size: 14px;
		padding: 8px 18px;
	}
}
